<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox</title>
    <link rel="stylesheet" href="../static/customerComments.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>TRT Support - Ticket <span id="ticket-number">Details</span></h2>
        </div>
        <div class="chat-messages" id="chat-messages">
        </div>
        <div class="chat-input">
            <textarea type="text" id="user-message" placeholder="Type your message..."> </textarea>
            <button id="send-button">Send</button>
        </div>
    </div>
    <script src="../static/customerComments.js"></script>
</body>
</html>