


body {
    font-family: 'Roboto', sans-serif;
}


.navbar-brand img {
    margin-right: 10px;
}


.main {
    padding: 20px;
}


.employee-table, .ticket-table {
    width: 100%;
    margin-top: 20px;
}


.employee-table thead, .ticket-table thead {
    background-color: #f8f9fa; 
    color: #333; 
}


.employee-table tr, .ticket-table tr {
    border-bottom: 1px solid #dee2e6; 
}


.btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
}

.delete-button {
    color: #fff;
    background-color: #dc3545; 
    border-color: #dc3545;
}


.form-control {
    box-shadow: none; 
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .main {
        padding: 10px;
    }
}


