
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}

.chat-container {

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background-color: #000000;
    color: #DFB343;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.chat-messages {
    margin: 0;
    padding: 0;
    white-space: pre-line;
    line-height: 1.2;
}

.message {

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-text-auto{
    text-align: center;
}

.chat-input {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
}

#user-message {
    font-family:Arial, sans-serif;
    flex-grow: 1;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

#send-button {
    background-color: #000000;
    color: #DFB343;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
}

.timestamp{
    text-align: right;
    font-size:x-small;
}


.chat-container {
    display: flex;
}


.chat-left {
    flex: 1;
    padding: 30px;
    border-right: 1px solid #ccc;
    max-width: 70%;
    overflow-y: auto;
}



.chat-right {
    flex: 1;
    padding: 20px;
    max-width: 200px
}


    
#admin-comments {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

#admin-comment-input {
    font-family:Arial, sans-serif;
    margin-top: 10px;
}

#status-dropdown{
    padding: 8px 12px;
}

.chat-right-header{
    font-size: medium;
}